.membership-link_header {
    font-family: "Martian Mono SemiBold";
    font-size: clamp(1rem, 0.188vw + 0.956rem, 1.125rem);
    color: #062630;
    background: linear-gradient(90deg, #FFF5EF 0%, #FFF5EF 100%) 0/ 200%;
    background-position: 0 200%;
    border-radius: 8px;
    border: solid #062630;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    text-decoration: none;
    line-height: 130%;
    letter-spacing: -1px;
    text-transform: uppercase;
    height: 64px;
    transition: background 0.5s;
}
.membership-link_header:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%) 100%/ 200%;
}
.membership-link_header svg {
    margin-left: 16px;
}

.membership-link_footer {
    font-family: "Martian Mono SemiBold";
    font-size: clamp(1rem, 0.188vw + 0.956rem, 1.125rem);
    background: linear-gradient(90deg, #062630 0%, #062630 100% ) 0/ 200%;
    color: #FFF5EF;
    border-radius: 8px;
    border: solid #FFFFFF;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    text-decoration: none;
    line-height: 130%;
    letter-spacing: -1px;
    text-transform: uppercase;
    height: 64px;
    transition: background 0.5s;
    margin-bottom: 24px;
}
.membership-link_footer:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #385159 0%, #062630 100% ) 0/ 200%;
}
.membership-link_footer svg {
    margin-left: 16px;
}
.membership-subscribe_btn {
    font-family: "Martian Mono SemiBold";
    font-size: clamp(1rem, 0.188vw + 0.956rem, 1.125rem);
    color: #062630;
    line-height: 130%;
    letter-spacing: -1px;
    text-transform: uppercase;
    height: 61px;
    border: solid #062630;
    border-radius: 8px;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FFF5EF 0%, #FFF5EF 100%) 0 200%;
    transition: background 0.5s;
    text-align: center;
}
.membership-subscribe_btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%) 100% 200%;
}
.membership-tier-container:last-child > .membership-subscribe_btn {
    padding-left: 94px;
    padding-right: 94px;
}