h1 {
    font-family: "Martian Mono Bold";
    font-size: clamp(2.375rem, 2.254vw + 1.847rem, 3.875rem);
    background-image: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    color: transparent;
    background-clip: text;
    letter-spacing: -2px;
    line-height: 120%;
}
h2 {
    font-family: "Martian Mono SemiBold";
    font-size: clamp(2.125rem, 1.502vw + 1.773rem, 3.125rem);
    color: #062630;
    letter-spacing: -2px;
    line-height: 130%;
}
h3 {
    font-family: "Martian Mono SemiBold";
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #062630;
    margin-bottom: 24px;
}