.membership > h2 {
    margin-top: clamp(4rem, 5.258vw + 2.768rem, 7.5rem);
    margin-bottom: clamp(1.5rem, 3.756vw + 0.62rem, 4rem);
    padding: 0 16px;
}
.membership-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 24px;
    /* align-items: center; */
    justify-content: center;
}
.membership-tier-container {
    border: solid #E6E1DF;
    border-radius: 8px;
    padding: 24px;
    max-width: fit-content;
}
.membership-tier-container + .pro {
    background: url("/assets/images/pattern-glow.svg") top left no-repeat, #FAF5F3;
}
.membership-tier-container p {
    font-family: "Inter";
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
    margin-bottom: 24px;
}
.membership-tier-container p > span {
    font-family: "Martian Mono SemiBold";
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #062630;
}
.membership-tier-container hr {
    height: 1px;
    border-color: #E6E1DF;
    width: 292px;
}
.membership-tier-container ul {
    margin-top: 24px;
    margin-bottom: 32px;
    list-style-type: none;
    padding: 0;
}
.membership-tier-container ul > li::before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("/assets/images/icon-check.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    margin-right: 12px;
}
.membership-tier-container ul > li {
    font-family: "Inter";
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.membership-tier-container > button {
    margin: 0 auto;
    max-width: max-content;
}
.membership-tier-container > .custom-price {
    font-family: "Martian Mono SemiBold";
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 130%;
    color: #062630;
}
@media screen and (min-width: 1440px) {
    .membership > h2 {
        text-align: center;
    }
}